.about-page {
  display: block;
  box-sizing: border-box;
}

.about-page .about-head {
  background-image: url(/public/footer-bg.png), linear-gradient(#1d1d1d, #1d1d1d);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.about-page .about-head p {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b5b5b5;
  display: inline-block;
  padding: 8px 40px;
  position: relative;
  background-color: rgba(6, 216, 137, 0.2);
  margin-bottom: 10px;
}

.about-page .about-head p::before {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.about-page .about-head p::after {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.about-page .about-head h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-top: 20px;
}

.about-page .abouth1 {
  position: absolute;
  opacity: 0;
  width: 164px;
  height: 210px;
  left: 100px;
  top: 90px;
  border-radius: 70px;
  z-index: 0;
}

.about-page .abouth2 {
  position: absolute;
  opacity: 0;
  width: 250px;
  height: 191px;
  right: 100px;
  border-radius: 130px 130px 0 0;
  top: 170px;
  z-index: 0;
}

.about-page .approach {
  padding: 30px 0;
  background-color: #0f0f0f;
}

.approach .approach-main-section {
  flex-direction: column;
}

.approach .approach-content-main {
  flex-direction: column;
}

.approach .approach-content-main .main-content {
  width: 100%;
}

.approach .approach-content-main .main-img {
  width: 100%;
}

.approach .approach-main .main-img .main-image {
  position: relative;
}

.approach .approach-main .main-img .main-image::before {
  content: "";
  border: 1px solid rgba(6, 216, 137, 0.15);
  position: absolute;
  left: -15px;
  top: 15px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.approach .main-content h4 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}

.approach .main-content p {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #b5b5b5;
  margin-bottom: 50px;
}

.approach .approach-main-head {
  margin-bottom: 80px;
  padding-left: 0;
  width: 720px;
  max-width: 100%;
}

.approach .approach-main-head h3 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 7px;
}

.approach .approach-main-head p {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #b5b5b5;
  margin-bottom: 0;
}

.approach .main-content h5 {
  padding: 10px 0;
}

.approach .main-content {
  width: 470px;
  max-width: 100%;
}

.approach .main-content .line {
  height: 1px;
  margin-bottom: 10px;
}

.approach .main-content .line .ball1 {
  height: 21px;
  width: 21px;
  border: 3px solid var(--white);
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translateY(-50%);
}

.approach .main-content .line .ball2 {
  height: 21px;
  width: 21px;
  border: 3px solid var(--white);
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  right: 22%;
  top: 50%;
  transform: translateY(-50%);
}

.approach .about-feature {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 30px;
  -moz-columns: 2;
  -webkit-columns: 2;
  -o-columns: 2;
  columns: 2;
}

.approach .about-feature li {
  text-align: center;
}

.approach .about-feature li h5 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 12px;
}

.approach .about-feature li p {
  font-family: var(--font-secondary);
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #b5b5b5;
}

.approach .approach-add .photo-approach2 {
  float: left;
  width: 40%;
  padding-right: 50px;
}

.approach .approach-add .ex {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  margin-top: 30px;
  margin-left: 50px;
}

.approach-add .ex-title {
  width: 90%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.approach-add .ex h4 {
  color: var(--black);
  font-family: var(--font-secondary);
  font-weight: 600;
}

.approach-add .ex p {
  color: var(--black);
  font-family: var(--font-secondary);
  font-size: 20px;
}

.approach .approach-add {
  display: none;
  width: 100%;
}

.approach .approach-main {
  width: 100%;
}

@media (min-width: 576px) {
  .approach .main-content .line {
    height: 1px;
    margin-bottom: 10px;
  }

  .approach .main-content .line .ball1 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .main-content .line .ball2 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) {
  .about-page .about-head {
    background-image: url(/public/footer-bg.png), linear-gradient(#1d1d1d, #1d1d1d);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .about-page .about-head p {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #b5b5b5;
    display: inline-block;
    padding: 8px 40px;
    position: relative;
    background-color: rgba(6, 216, 137, 0.2);
    margin-bottom: 10px;
  }

  .about-page .about-head p::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .about-page .about-head p::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .about-page .about-head h3 {
    font-size: 54px;
    font-weight: 700;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 15px;
  }

  .about-page .abouth1 {
    position: absolute;
    opacity: 0.3;
    left: 100px;
    top: 90px;
    border-radius: 70px;
    z-index: 0;
  }

  .about-page .abouth2 {
    position: absolute;
    opacity: 0.3;
    right: 100px;
    border-radius: 130px 130px 0 0;
    top: 215px;
    z-index: 0;
  }

  .approach .approach-content-main {
    flex-direction: row;
  }

  .approach .approach-main-head {
    margin-bottom: 80px;
    padding-left: 50px;
    width: 720px;
    max-width: 100%;
  }

  .approach .approach-main-head h3 {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 7px;
  }

  .approach .approach-main-head p {
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #b5b5b5;
    margin-bottom: 0;
  }

  .approach .approach-content-main .main-content {
    width: 470px;
    max-width: 100%;
  }

  .approach .approach-content-main .main-img {
    width: 45%;
  }

  .approach .main-content .line {
    height: 1px;
    margin-bottom: 10px;
  }

  .approach .main-content .line .ball1 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .main-content .line .ball2 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .approach-add {
    display: block;
  }
}

@media (min-width: 992px) {
  .about-page .approach {
    padding: 50px 0;
    background-color: #0f0f0f;
  }

  .approach .approach-main-section {
    flex-direction: row;
  }

  .approach .main-content .line {
    height: 1px;
    margin-bottom: 10px;
  }

  .approach .main-content .line .ball1 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .main-content .line .ball2 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .approach-main {
    width: 75%;
  }

  .approach .approach-main-head {
    margin-bottom: 80px;
    padding-left: 50px;
    width: 720px;
    max-width: 100%;
  }

  .approach .approach-main-head h3 {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 7px;
  }

  .approach .approach-main-head p {
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.03em;
    color: #b5b5b5;
    margin-bottom: 0;
  }

  .approach .approach-add {
    display: block;
    width: 25%;
  }

  .approach .approach-add .photo-approach2 {
    float: none;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .about-page .approach {
    padding: 120px 0;
    background-color: #0f0f0f;
  }

  .approach .main-content h5 {
    padding: 10px 0;
  }

  .approach .main-content {
    padding: 0 30px 0 0;
  }

  .approach .main-content .line {
    height: 1px;
    margin-bottom: 10px;
  }

  .approach .main-content .line .ball1 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .main-content .line .ball2 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .approach-add .ex {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 20px;
  }

  .approach-add .ex-title {
    width: 90%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .approach-add .ex h4 {
    color: var(--black);
    font-family: var(--font-secondary);
    font-weight: 600;
  }

  .approach-add .ex p {
    color: var(--black);
    font-family: var(--font-secondary);
    font-size: 20px;
  }
}

@media (min-width: 1400px) {

  .approach .main-content h5 {
    padding: 10px 0;
  }

  .approach .main-content {
    padding: 0 30px 0 0;
  }

  .approach .main-content .line {
    height: 1px;
    margin-bottom: 10px;
  }

  .approach .main-content .line .ball1 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .main-content .line .ball2 {
    height: 21px;
    width: 21px;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
  }

  .approach .approach-add .ex {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 20px;
  }

  .approach-add .ex-title {
    width: 90%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .approach-add .ex h4 {
    color: var(--black);
    font-family: var(--font-secondary);
    font-weight: 600;
  }

  .approach-add .ex p {
    color: var(--black);
    font-family: var(--font-secondary);
    font-size: 20px;
  }
}