.dashTeam {
    width: 85%;
    margin-left: auto;
    margin-top: 80px;
    padding: 20px;
    

}

.dashTeam h4 {
    font-size: 22px;
}

.team-control {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
}
.team-list{
    display: flex;
    
}
.team-control .team-list-edit {
    width: 100%;
}

.team-control .team-list-edit .update-team {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px #0000005d;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    transition: all 0.5s;
}

.team-control .team-list-edit .update-team h4 {
    margin-bottom: 20px;
}

.team-control .team-list-edit .update-team h4 svg {
    cursor: pointer;
}

.team-control .team-list {
    background: #fff;
    width: 100%;
    overflow-x: scroll;
    box-shadow: 0 0 5px #0000005d;
    border-radius: 8px;
}

.team-control .team-list table {
    width: 100%;
    padding: 15px;
    gap: 0;
    border-collapse: collapse;
}

.team-control table thead {
    border-bottom: 1px solid #000;
}

.team-control table thead th,
.team-control table thead td {
    padding: 10px;
    font-size: 12px;
    font-family: var(--font-secondary);
    color: #636363;
    white-space: nowrap;
}

.team-control table tbody th,
.team-control table tbody td {
    padding: 10px;
    font-size: 15px;
    font-family: var(--font-secondary);
    color: #636363;
    white-space: nowrap;
}

.team-control table tbody td img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 2px #00000074;
    object-fit: cover;
}

.team-control table tbody td button {
    width: auto;
    height: 25px;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.team-control .add-team {
    width: 100%;
    margin-left: auto;
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0 5px #0000005b;
}

.team-control .add-team h4 {
    margin-bottom: 15px;
    margin-top: 5px;
}

.team-control .team-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.team-control .update-team form {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.team-control .update-team .team-input {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 49%;
}

.team-control .team-input label {
    font-family: var(--font-secondary);
    font-size: 17px;
}

.team-control .team-input input {
    font-family: var(--font-secondary);
    font-size: 17px;
    padding: 7px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #636363;
}

.team-control .update-team .team-input input {
    font-family: var(--font-secondary);
    font-size: 17px;
    padding: 7px;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #636363;
    width: 100%;
}

.team-control form button {
    width: 250px;
    border: 0;
    margin-top: 20px;
}

.team-control .team-input .photo-box {
    width: 250px;
    height: 280px;
    border: 1px solid #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    font-family: var(--font-secondary);
    cursor: pointer;
    overflow: hidden;
}

.team-control .team-input .photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .team-control {
        display: flex;
        align-items: start;
        gap: 20px;
        margin-top: 20px;
        flex-direction: row;
    }

    .team-control .team-list-edit {
        width: 48%;
     
    }

    .team-control .team-list {
        background: #fff;
        overflow-x: scroll;
        box-shadow: 0 0 5px #0000005d;
        border-radius: 8px;
    }

    .team-control .add-team {
        width: 48%;
        background: #fff;
        border-radius: 8px;
        padding: 10px 20px;
        box-shadow: 0 0 5px #0000005b;
    }
}